.dates {
    margin: auto 0;
}

.dates > .content {
    margin: 8px 0;

    display: flex;
    flex-flow: row;
}

.dates > .content > .appointment {
    width: 256px;
    height: 216px;

    background-color: whitesmoke;

    margin: 0 16px;
}

.dates > .content > .appointment > .title,
.dates > .content > .appointment > .date,
.dates > .content > .appointment > .location,
.dates > .content > .appointment > .people {
    width: 100%;
    color: black;

    text-align: center;
}

.dates > .content > .appointment > .people > * {
    margin: auto;
}
