body {
    padding-top: 64px;
}

.news-box {
    display: flex;
    flex-flow: row;

    max-width: 450px;
    max-height: 192px;

    background: #101010;
}

.news-box > img {
	object-fit: none;
	object-position: center;
	height: 192px;
	width: 192px;
	margin-right: 4px;
}

.news-box > .content {
    color: whitesmoke;
    margin-right: 4px;
}

.news-box > .content > .title {
    font-size: 24px;
}

.news-box > .content > p {
    
}