@font-face {
    font-family: 'socialmedia';
    src: url('../fonts/socialmedia.ttf') format('truetype');
}
@font-face {
    font-family: 'hangin';
    src: url('../fonts/hangin.ttf') format('truetype');
}

html {
    background: slategray;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    display: flex;
    flex-flow: column;
    min-height: 100vh;
    min-width: 100vw;


    padding-top: 64px;
}

body > .background {
	background: url('/public/images/background.png');
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
    height: 100vh;
    overflow: hidden;

    filter: opacity(80%)
}

.page-title {
	margin: auto;
	font-size: 48px;
	font-family: Arial;
	text-transform: uppercase;
	font-weight: 800;
	background: #101010;
	padding: 0 64px;
	color: whitesmoke;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    margin-bottom: 32px;
}

@media (max-width: 738px) {
    html {
        overflow: hidden;
    }

    body {
        padding-top: 32px;
        overflow-y: auto;
    }
}