/* fonts */
@font-face {
    font-family: 'rock-and-roll';
    src: url('../fonts/music-rock-and-roll.ttf') format('truetype');
}
@font-face {
    font-family: 'mrlje';
    src: url('../fonts/mrlje.ttf') format('truetype');
}
@font-face {
    font-family: 'hangin';
    src: url('../fonts/hangin.ttf') format('truetype');
}
@font-face {
    font-family: 'socialmedia';
    src: url('../fonts/socialmedia.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body > .background-image {
    position: fixed;
    background: url('/public/images/background-03-scalable.png');
    width: 110vw;
    height: 110vh;
    filter: blur(4px);
    background-size: 416px;
    top: -8px;
    left: -8px;
}