/* fonts */
@font-face {
    font-family: 'rock-and-roll';
    src: url('../fonts/music-rock-and-roll.ttf') format('truetype');
}
@font-face {
    font-family: 'mrlje';
    src: url('../fonts/mrlje.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

body > .background-image {
    position: absolute;
    background: url('/public/images/background-03-scalable.png');
    width: 110vw;
    height: 110vh;
    filter: blur(4px);
    background-size: 416px;
    top: -8px;
    left: -8px;
}