:root {
    /* Dimensions */
    --dimension-header-height: 48px;
    --dimension-sidebar-width: 256px;

    /* Color Names */
    /* http://chir.ag/projects/name-that-color/ */
    --color-midnight-blue: #003366;
    --color-oxford-blue: #354052;
}