:root {
    /* Screen Sizes */
    --screen-width-size-mobile: 738px; 
    /* --screen-width-size-desktop:  */

    /* Dimensions */
    --dimension-dashboard-header-height: 48px;
    --dimension-dashboard-sidebar-width: 256px;

    /* Color Names */
    /* http://chir.ag/projects/name-that-color/ */
}